<!--
Fábio Sousa.
PSR, December 2022.

Launch file for exercise 11 of part 11
-->
<?xml version="1.0"?>
<launch>
  
  <!-- Alter with the name of the required catkin pkg-->
  <param name="robot_description" command="$(find xacro)/xacro $(find psr_aula11_scara_description)/urdf/scara_v2.urdf.xacro"/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <arg name="rvizconfig" default="$(find psr_aula11_scara_description)config/rviz.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>