<!--
Fábio Sousa.
PSR, December 2022.

Launch file for exercise 5 of part 10 
-->

<launch>

    <node pkg="psr_aula10_ex5" name="image_publisher" type="image_publisher.py" output="screen"/>


    <node type="rqt_image_view" name="rqt_image_view" pkg="rqt_image_view" args="/image_viewer"/>

</launch>